<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.mapper.BookMapper">
    <resultMap type="com.wechat.model.book.Book" id="books">
        <result property="bid" column="bid"/>
        <result property="bname" column="bname"/>
        <result property="imageurl" column="imageurl"/>
        <result property="bdesc" column="bdesc"/>
        <result property="author" column="author"/>
        <result property="number" column="number"/>
        <association property="category" javaType="category">
            <id column="cid" property="cid"/>
            <result column="cname" property="cname"/>
            <result column="iconurl" property="iconurl"/>
        </association>
    </resultMap>

    <select id="searchBookByCategory" resultMap="books"  parameterType="Integer">
        select t.*,t2.cname,t2.iconurl
        from book t,category t2
        where t.cid=t2.cid
        <if test="_parameter != null">
            and t.cid = #{cid}
        </if>
    </select>


    <select id="searchBookByName" resultMap="books" resultType="com.wechat.model.book.Book" >
        select t.*,t2.cname,t2.iconurl
        from book t,category t2
        where t.cid=t2.cid
        <if test="#{category.cid} != null">
            and t.cid = #{category.cid}
        </if>
        <if test="#{bname} != null">
            and t.bname like '%${bname}%'
        </if>
    </select>

    <select id="searchBookByBid" resultMap="books" parameterType="Integer" >
        select t.*,t2.cname,t2.iconurl
        from book t,category t2
        where t.cid=t2.cid
        <if test="_parameter != null">
            and t.bid = #{bid}
        </if>
    </select>


</mapper>